<div class="container col-8">
  <div
    class="mh-100 p-5"
    style="height: 80vh; background-color: rgb(234, 234, 235); border-radius: 2rem 2rem 0px 0px;"
  >
    mensajes
  </div>
  <div class="d-flex mt-1">
    <input
      class="form-control"
      type="text"
      placeholder="Escribe un mensaje"
    />
    <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
</div>